[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
deta = "*"
uvicorn = {version = "*", extras = ["standard"]}
httpx = "*"
itsdangerous = "*"
charset-normalizer = "*"
pyparsing = "*"

[dev-packages]
flake8 = "*"
yapf = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
